@model Book


<div class="col-6 col-lg-4 col-md-4 col-xl-3 my-4">
    <div class="card mx-auto" style="max-width: 15rem;  ">
        <div class="text-center mt-3">
            <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId">
                <img src="~/images/@Model.ImageUrl" alt="@Model.Title" class="card-img-top"
                    style="width:10rem; height:15rem;" />
            </a>
        </div>
        <div class="card-body ml-1 pb-0">

            <p class="card-title" style="font-weight:400; font-size:medium;">
                <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId">@Model.Title</a>
            </p>
            <p class="card-subtitle" style="font-weight:300; font-size:small;">@Model.Author</p>
            <p class="card-text mt-3" style="font-weight:400; color:#fc6a03;font-size:larger;">
                @Model.Price.ToString("c", new System.Globalization.CultureInfo("sv-SE"))</p>

            <div class="addToCart text-center">
                <p class="button">
                    <a class="btn btn-primary" style="background-color:#E94819; border:0;width:100%;"
                        asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                        asp-route-bookId="@Model.BookId">Add to cart</a>
                </p>
            </div>
        </div>
    </div>
</div>
