@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count == 0)
{
    <h2 class="mt-5 px-3" style="font-weight:400;">Your shopping cart is empty.</h2>
}
else
{
    <h2 class="mt-5 px-3 px-md-0 pb-3">Shopping cart</h2>
    <h5 class="mb-4 px-3 px-md-0 pb-2" style="font-weight:300">You’ve picked some fantastic reads – here they are:</h5>
    <table class="table table-bordered table-striped px-3">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Book</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th class="text-right"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">@line.Amount</td>
                    <td class="text-left">@line.Book.Title</td>
                    <td class="text-right">@line.Book.Price.ToString("c",  new System.Globalization.CultureInfo("sv-SE"))</td>
                    <td class="text-right">
                        @((line.Amount * line.Book.Price).ToString("c",  new System.Globalization.CultureInfo("sv-SE")))
                    </td>
                    <td class="text-center"><a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-bookId="@line.Book.BookId"><svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" viewBox="0 0 16 16" class="trash-bin" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M2 5v10c0 0.55 0.45 1 1 1h9c0.55 0 1-0.45 1-1v-10h-11zM5 14h-1v-7h1v7zM7 14h-1v-7h1v7zM9 14h-1v-7h1v7zM11 14h-1v-7h1v7z"></path><path d="M13.25 2h-3.25v-1.25c0-0.412-0.338-0.75-0.75-0.75h-3.5c-0.412 0-0.75 0.338-0.75 0.75v1.25h-3.25c-0.413 0-0.75 0.337-0.75 0.75v1.25h13v-1.25c0-0.413-0.338-0.75-0.75-0.75zM9 2h-3v-0.987h3v0.987z"></path></svg></a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c",  new System.Globalization.CultureInfo("sv-SE"))
                </td>
            </tr>
        </tfoot>
    </table>


    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
    </div>
}


